{% extends 'base_dashboard.html' %}

{% block title %}Forgot Your Password?{% endblock %}

{% block content %}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card shadow-lg">
          <div class="card-body p-5">
            <h1 class="card-title text-center mb-4">Forgot Your Password?</h1>
            <p class="card-text text-center">Enter your email address below, and we'll email instructions for setting a new one.</p>

            <form method="POST" class="mt-4 mx-auto">
              {% csrf_token %}
              {{ form.as_p }}
              <button type="submit" class="btn btn-primary btn-block">Send me instructions!</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
