<!-- your_template.html -->
{% extends 'main/HomePage/base_homepage.html' %}
{% block title %}Projects{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Filter Proposals</h5>
        </div>
        <div class="card-body">
            <form method="get" action="{% url 'authapp:proposal_list' %}" class="mb-4">
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-group">
                           <h5> {{ form.scheme.label_tag }}</h5>
                            <div style="margin-right: 10px;"></div>
                            <h6>{{ form.scheme }}</h6>
                            <div style="margin-right: 10px;"></div>
                            <button type="submit" class="btn btn-primary" style="font-size: 12px; padding: 5px 10px;">Apply Filters</button>

                        </div>
                    </div>
                </div>
            </form>

            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Unique ID</th>
                            <th>Implementing Agency Name</th>
                            <th>Scheme</th>
                            <th>Subcomponent</th>
                            <th>State</th>
                            <th>Fund Sanctioned(in Lakhs)</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if proposals %}
                            {% for proposal in proposals %}
                                <tr>
                                    <td>{{ proposal.unique_id }}</td>
                                    <td>{{ proposal.name_and_address }}</td>
                                    <td>{{ proposal.project_scheme }}</td>
                                    <td>{{ proposal.scheme_component }}</td>
                                    <td>{{ proposal.state }}</td>
                                    <td>{{ proposal.fund_allocated }}</td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="6">No data found for the selected criteria.</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
