<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Progress Report Reminder</title>
</head>
<body style="font-family: Arial, sans-serif;">

    {% comment %} <h2 style="color: #007BFF;">Progress Report Reminder</h2> {% endcomment %}
    
    <p>Dear User,</p>

    <p>This is a friendly reminder to submit the progress report for Project ID {{ proposal.unique_id }}.</p>
    
    <p>Quarter: {{ proposal.reminder_quarter }}</p>
    <p>Financial Year: {{ proposal.reminder_financial_year }}</p>

    <p>Thank you for your attention!</p>

    <p>Best Regards,<br>
    Central Wool Developmet Board</p>

</body>
</html>
