
{% extends 'base_index.html' %}
{% load static %}
{% block title %}HomePage{% endblock %}
{%block content%}
    <script>
        var fundData = {
          schemeNames: ['Wool Marketing Scheme', 'Wool Processing Scheme', 'HRDPA', 'PWDS','Administrative Expenses'],
          fundAllocations: [{{fund_data_allocated.wms}},{{fund_data_allocated.wps}},{{fund_data_allocated.hrdpa}},{{fund_data_allocated.pwds}},{{fund_data_allocated.admin_exp}}],
          // Add more data as needed
        };
    
        // Additional data for more charts
        var quarterlyFunds = {
          quarters: ['Q1', 'Q2', 'Q3', 'Q4'],
          scheme1Funds: [15000, 12000, 10000, 16000],
          scheme2Funds: [20000, 18000, 22000, 25000],
          scheme3Funds:[10000,10000,10000,10000],
          scheme4Funds:[5000,5000,5000,5000]
          
        };
    </script>
  <aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3   bg-gradient-dark" id="sidenav-main">
    <div class="sidenav-header text-center  py-3 d-flex align-items-center justify-content-center">
        <i class="fas fa-times p-3 cursor-pointer text-white opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
        <a class="navbar-brand m-0" href="#" target="_blank">
            <h4 class="font-weight-bold text-white mb-0">MIS Portal</h4>
        </a>
    </div>
    <hr class="horizontal light mt-0 mb-2">
    <div class="collapse navbar-collapse  w-auto " id="sidenav-collapse-main">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link text-white active bg-gradient-primary" href="{%url 'authapp:index' %}">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">dashboard</i>
            </div>
            <span class="nav-link-text ms-1">Dashboard</span>
          </a>
        </li>
        
       
       
        
        <li class="nav-item">
          <a class="nav-link text-white " href="{% url 'authapp:index_notification_view' %}">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">notifications</i>
            </div>
            <span class="nav-link-text ms-1">Notifications</span>
          </a>
        </li>
        
      
        <li class="nav-item">
          <a class="nav-link text-white " href="{% url 'authapp:login' %}">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">login</i>
            </div>
            <span class="nav-link-text ms-1">Sign In</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white " href="{% url 'authapp:register' %}">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">assignment</i>
            </div>
            <span class="nav-link-text ms-1">Sign Up</span>
          </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white " href="http://3.111.35.175/drupal/">
              <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                <i class="material-icons opacity-10">arrow_back</i>
              </div>
              <span class="nav-link-text ms-1">Go Back to Website</span>
            </a>
          </li>
      </ul>
    </div>
    <div class="sidenav-footer position-absolute w-100 bottom-0 ">
    
  </aside>
  <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" data-scroll="true">
      <div class="container-fluid py-1 px-3">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
            <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="javascript:;">Pages</a></li>
            <li class="breadcrumb-item text-sm text-dark active" aria-current="page">Dashboard</li>
          </ol>
          <h6 class="font-weight-bolder mb-0">Dashboard</h6>
        </nav>
        
        <ul class="navbar-nav  justify-content-end">
   
          <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
            <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
              <div class="sidenav-toggler-inner">
                <i class="sidenav-toggler-line"></i>
                <i class="sidenav-toggler-line"></i>
                <i class="sidenav-toggler-line"></i>
              </div>
            </a>
          </li>
          <li class="nav-item px-3 d-flex align-items-center">
            <a href="javascript:;" class="nav-link text-body p-0">
              <i class="fa fa-cog fixed-plugin-button-nav cursor-pointer"></i>
            </a>
          </li>
          <li class="nav-item dropdown pe-2 d-flex align-items-center">
            <a href="{% url 'authapp:index_notification_view' %}" class="nav-link text-body p-0"  >
              <i class="fa fa-bell cursor-pointer"></i>
            </a>
      
           
          </li>
          <li class="nav-item d-flex align-items-center">
            <a href="{% url 'authapp:login' %}" class="nav-link text-body font-weight-bold px-0">
              <i class="fa fa-user me-sm-1"></i>
              
              <span class="d-sm-inline d-none">Sign In</span>
              
            </a>
          </li>
        </ul>
        </div>
      </div>
    </nav>
    <!-- End Navbar -->
     <div class="container-fluid py-4">
       
      <div class="row">
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card mb-4">
              <div class="card-header p-3 pt-2">
                  <div class="icon icon-lg icon-shape bg-gradient-white shadow-dark text-center border-radius-xl mt-n4 position-absolute">
                      <img src="{% static 'img/iwdp.png' %}" alt="Iwdp" width="55" height="55">
                  </div>
                  <div class="text-end pt-1">
                      <h3 class="text-sm mb-0 text-capitalize">IWDP<br></h3>
                      <h6 class="mb-0">
                          {% if fund_distribution_data %}
                              {{ fund_distribution_data.iwdp }}
                          {% else %}
                              No data available.
                          {% endif %}
                      </h6>
                  </div>
              </div>
              <hr class="dark horizontal my-0">
              <div class="card-footer p-3 d-flex justify-content-between align-items-center">
                  <p class="mb-0">
                      <span class="text-success text-sm font-weight-bolder">Financial Year:</span>
                      <span id="financialYear" class="fw-bold">{{ current_financial_year }}</span>
                  </p>
                  <button class="btn btn-sm btn-primary" onclick="window.location.href='{% url "authapp:iwdp_view" %}'">
                    See More <i class="fas fa-arrow-right"></i>
                </button>
              </div>
          </div>
      </div>
      
     
      
      
  
  
            
            
            
            
      <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
        <div class="card mb-4">
            <div class="card-header p-3 pt-2">
                <div class="icon icon-lg icon-shape bg-gradient-white shadow-dark text-center border-radius-xl mt-n4 position-absolute">
                    <img src="{% static 'img/wms.png' %}" alt="wms" width="55" height="55">
                </div>
                <div class="text-end pt-1">
                    <h3 class="text-sm mb-0 text-capitalize">WMS<br></h3>
                    <h6 class="mb-0">
                        {% if fund_distribution_data %}
                            {{ fund_distribution_data.wms }}
                        {% else %}
                            No data available.
                        {% endif %}
                    </h6>
                </div>
            </div>
            <hr class="dark horizontal my-0">
            <div class="card-footer p-3 d-flex justify-content-between align-items-center">
                <p class="mb-0">
                    <span class="text-success text-sm font-weight-bolder">Financial Year:</span>
                    <span id="financialYear" class="fw-bold">{{ current_financial_year }}</span>
                </p>
                <button class="btn btn-sm btn-primary" onclick="window.location.href='{% url "authapp:wms_scheme_view" %}'">
                    See More <i class="fas fa-arrow-right"></i>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
      <div class="card mb-4">
          <div class="card-header p-3 pt-2">
              <div class="icon icon-lg icon-shape bg-gradient-white shadow-dark text-center border-radius-xl mt-n4 position-absolute">
                  <img src="{% static 'img/wps.png' %}" alt="wps" width="55" height="55">
              </div>
              <div class="text-end pt-1">
                  <h3 class="text-sm mb-0 text-capitalize">WPS<br></h3>
                  <h6 class="mb-0">
                      {% if fund_distribution_data %}
                          {{ fund_distribution_data.wps }}
                      {% else %}
                          No data available.
                      {% endif %}
                  </h6>
              </div>
          </div>
          <hr class="dark horizontal my-0">
          <div class="card-footer p-3 d-flex justify-content-between align-items-center">
              <p class="mb-0">
                  <span class="text-success text-sm font-weight-bolder">Financial Year:</span>
                  <span id="financialYear" class="fw-bold">{{ current_financial_year }}</span>
              </p>
              <button class="btn btn-sm btn-primary" onclick="window.location.href='{% url "authapp:wps_scheme_view" %}'">
                See More <i class="fas fa-arrow-right"></i>
              </button>
          </div>
      </div>
  </div>
  <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
    <div class="card mb-4">
        <div class="card-header p-3 pt-2">
            <div class="icon icon-lg icon-shape bg-gradient-white shadow-dark text-center border-radius-xl mt-n4 position-absolute">
                <img src="{% static 'img/pwds.png' %}" alt="pwds" width="55" height="55">
            </div>
            <div class="text-end pt-1">
                <h3 class="text-sm mb-0 text-capitalize">PWDS<br></h3>
                <h6 class="mb-0">
                    {% if fund_distribution_data %}
                        {{ fund_distribution_data.pwds }}
                    {% else %}
                        No data available.
                    {% endif %}
                </h6>
            </div>
        </div>
        <hr class="dark horizontal my-0">
        <div class="card-footer p-3 d-flex justify-content-between align-items-center">
            <p class="mb-0">
                <span class="text-success text-sm font-weight-bolder">Financial Year:</span>
                <span id="financialYear" class="fw-bold">{{ current_financial_year }}</span>
            </p>
            <button class="btn btn-sm btn-primary" onclick="window.location.href='{% url "authapp:pwds_scheme_view" %}'">
                See More <i class="fas fa-arrow-right"></i>
            </button>
        </div>
    </div>
</div>
            <div class="row removable">
              <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
                <div class="card mb-4">
                    <div class="card-header p-3 pt-2">
                        <div class="icon icon-lg icon-shape bg-gradient-white shadow-dark text-center border-radius-xl mt-n4 position-absolute">
                            <img src="{% static 'img/hrpa.png' %}" alt="HRDPA" width="55" height="55">
                        </div>
                        <div class="text-end pt-1">
                            <h3 class="text-sm mb-0 text-capitalize">HRD & PA<br></h3>
                            <h6 class="mb-0">
                                {% if fund_distribution_data %}
                                    {{ fund_distribution_data.hrdpa }}
                                {% else %}
                                    No data available.
                                {% endif %}
                            </h6>
                        </div>
                    </div>
                    <hr class="dark horizontal my-0">
                    <div class="card-footer p-3 d-flex justify-content-between align-items-center">
                        <p class="mb-0">
                            <span class="text-success text-sm font-weight-bolder">Financial Year:</span>
                            <span id="financialYear" class="fw-bold">{{ current_financial_year }}</span>
                        </p>
                        <button class="btn btn-sm btn-primary" onclick="window.location.href='{% url "authapp:hrdpa_scheme_view" %}'">
                            See More <i class="fas fa-arrow-right"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
              <div class="card mb-4">
                  <div class="card-header p-3 pt-2">
                      <div class="icon icon-lg icon-shape bg-gradient-white shadow-dark text-center border-radius-xl mt-n4 position-absolute">
                          <img src="{% static 'img/administration.png' %} " alt="admin_ep" width="55" height="55">
                      </div>
                      <div class="text-end pt-1">
                          <h3 class="text-sm mb-0 text-capitalize">Administrative Expenses<br></h3>
                          <h6 class="mb-0">
                              {% if fund_distribution_data %}
                                  {{ fund_distribution_data.admin_exp }}
                              {% else %}
                                  No data available.
                              {% endif %}
                          </h6>
                      </div>
                  </div>
                  <hr class="dark horizontal my-0">
                  <div class="card-footer p-3 d-flex justify-content-between align-items-center">
                      <p class="mb-0">
                          <span class="text-success text-sm font-weight-bolder">Financial Year:</span>
                          <span id="financialYear" class="fw-bold">{{ current_financial_year }}</span>
                      </p>
                      <button class="btn btn-sm btn-primary" onclick="window.location.href='{% url "authapp:admin_exp_view" %}'">
                        See More <i class="fas fa-arrow-right"></i>
                    </button>
                  </div>
              </div>
          </div>
          <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
            <div class="card mb-4">
                <div class="card-header p-3 pt-2">
                    <div class="icon icon-lg icon-shape bg-gradient-white shadow-dark text-center border-radius-xl mt-n4 position-absolute">
                        <img src="{% static 'img/project.png' %}" alt="total_projects" width="55" height="55">
                    </div>
                    <div class="text-end pt-1">
                        <h3 class="text-sm mb-0 text-capitalize">Total Projects<br></h3>
                        <h6 class="mb-0">
                            {% if total_projects_count %}
                                {{ total_projects_count }}
                            {% else %}
                                No data available.
                            {% endif %}
                        </h6>
                    </div>
                </div>
                <hr class="dark horizontal my-0">
                <div class="card-footer p-3 d-flex justify-content-between align-items-center">
                    <p class="mb-0">
                        <span class="text-success text-sm font-weight-bolder">Financial Year:</span>
                        <span id="financialYear" class="fw-bold">{{ current_financial_year }}</span>
                    </p>
                    <button class="btn btn-sm btn-primary" onclick="window.location.href='{% url "authapp:proposal_list" %}'">
                      See More <i class="fas fa-arrow-right"></i>
                  </button>
                  
                </div>
            </div>
        </div>
        
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card mb-4">
              <div class="card-header p-3 pt-2">
                  <div class="icon icon-lg icon-shape bg-gradient-white shadow-dark text-center border-radius-xl mt-n4 position-absolute">
                      <img src="{% static 'img/beneficiaries.png' %}"  alt="total_beneficiaries" width="55" height="55">
                  </div>
                  <div class="text-end pt-1">
                      <h3 class="text-sm mb-0 text-capitalize">Total Beneficiaries<br></h3>
                      <h6 class="mb-0">
                        {% if total_beneficiaries %}
                        {{ total_beneficiaries }}
                    {% else %}
                        No data available.
                    {% endif %}
                      </h6>
                  </div>
              </div>
              <hr class="dark horizontal my-0">
              <div class="card-footer p-3 d-flex justify-content-between align-items-center">
                  <p class="mb-0">
                      <span class="text-success text-sm font-weight-bolder">Financial Year:</span>
                      <span id="financialYear" class="fw-bold">{{ current_financial_year }}</span>
                  </p>
                  <button class="btn btn-sm btn-primary" onclick="window.location.href='{% url "authapp:beneficiary_data_table" %}'">
                      See More <i class="fas fa-arrow-right"></i>
                  </button>
              </div>
          </div>
      </div>
      
      <div class="row mt-4 removable">
        <!-- First Graph -->
        <div class="col-lg-8 col-sm-12 mt-sm-0 mt-4">
            <div class="card mb-4">
                <div class="card-header pb-0 p-3">
                    <div class="d-flex justify-content-between">
                        <h6 class="mb-0">Quarterly Schemes Fund Distribution </h6>
                        <button type="button" class="btn btn-icon-only btn-rounded btn-outline-secondary mb-0 ms-2 btn-sm d-flex align-items-center justify-content-center" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-original-title="See Fund Allocated for Current Financial Year">
                            <i class="material-icons text-sm">priority_high</i>
                        </button>
                    </div>
                </div>
                <div class="card-body p-3">
                    <!-- Add the form here -->
                    <form method="get" action="{% url 'authapp:index' %}">
                        <div class="row">
                            <div class="input-group">
                                <h6>{{ quarter_form.select_type }}</h6>
                                <div style="margin-right: 10px;"></div>
                                <h6>{{ quarter_form.financial_year }}</h6>
                                <div style="margin-right: 10px;"></div>
                                <button type="submit" class="btn btn-primary" style="font-size: 12px; padding: 5px 10px;">Apply Filters</button>
                            </div>
                        </div>
                    </form>
                    <div class="chart">
                        <canvas id="quarterlyFundsChart" class="chart-canvas chart-line" height="600" style="display: block; box-sizing: border-box; height: 500px; width: 100%;"></canvas>
                    </div>
                </div>
            </div>
        </div>
    
        <!-- Second Graph -->
        <div class="col-lg-4 col-sm-12">
            <div class="card mb-4">
                <div class="card-header pb-0 p-3">
                    <div class="d-flex justify-content-between">
                        <h6 class="mb-0">Distribution of funds Between Schemes</h6>
                        <button type="button" class="btn btn-icon-only btn-rounded btn-outline-secondary mb-0 ms-2 btn-sm d-flex align-items-center justify-content-center" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="Distribution of funds given to CWDB">
                            <i class="material-icons text-sm">priority_high</i>
                        </button>
                    </div>
                </div>
                <div class="card-body pb-0 p-3 mt-4">
                    <div class="row">
                        <div class="col-12 text-start">
                            <form method="get" action="{% url 'authapp:index' %}">
                                <div class="input-group">
                                    <h6>{{ allocation_form.financial_year }}</h6>
                                    <div style="margin-right: 10px;"></div>
                                    <button type="submit" class="btn btn-primary" style="font-size: 12px; padding: 5px 10px;">Apply Filters</button>
                                </div>
                            </form>
                            <div class="chart">
                                <canvas id="fundDistributionChart" class="chart-canvas chart-pie" height="600" style="display: block; box-sizing: border-box; height: 500px; width: 100%;"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
            
    
  </main>
 
  <!-- Github buttons -->
 
  <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
  
 
  {% endblock %}