asgiref==3.7.2
beautifulsoup4==4.12.2
Django==4.2.6
django-bootstrap4==23.2
django-crispy-forms==2.1
django-otp==1.2.4
django-widget-tweaks==1.5.0
Pillow==10.1.0
soupsieve==2.5
sqlparse==0.4.4
typing_extensions==4.8.0
python-docx==0.8.11
django-jazzmin==2.6.0
pandas==2.1.4
openpyxl==3.1.2
crispy-bootstrap5==2023.10
# psycopg2==2.9.9
psycopg2-binary==2.9.9
# matplotlib==3.8.2
# celery==5.3.6
apscheduler==3.10.4
djangorestframework==3.14.0
requests==2.31.0
django-recaptcha==4.0.0
django_forms_bootstrap==3.1.0
gunicorn==21.2.0
whitenoise==6.6.0
dj_static==0.0.6
